* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {}

header {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #2965f1;
    padding: 24px 0;
    /* Стили для хедера */
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    /* Стили для первой секции */
}

.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-top: 60px;
    margin-bottom: 20px;
}
    /* Стили для заголовка в первой секции */


.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    height: 508px;
    margin-bottom: 356px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #fff;
    padding: 100px 0;

    /* Стили для второй секции */
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 0 12px;
    background-repeat: no-repeat;
    /* Стили для выпадающего списка */
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 24px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    padding: 0 20px;
    list-style-image: url(./assets/img/solar_map-arrow-up-bold.svg?);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #303030;
    font-size: 16px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 0 20px;
    
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    gap: 4px;
    /* Стили для подписей чекбоксов */
}

input[type="checkbox"] {
    accent-color: #2965f1;
}

.text-field {
    width: 330px;
    height: 36px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding: 0 12px;
    font-size: 16px;
    &::placeholder {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: rgba(48, 48, 48, 0.2);
    }
    /* Стили для односточного поля ввода те
    кста */
}

.btn {
    margin-left: 8px;
    width: 125px;
    height: 36px;
    border-radius: 5px;
    background-color: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
    /* Стили для кнопки */
}

.line {
    margin: 60px 0;
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    /* Стили для линии */
}

table {
    border-collapse: collapse;
    border: 1px solid #95a1bb;
    font-size: 14px;

    /* Стили для таблицы */
}

tr, th {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #303030;
    padding: 12px 15px;
}

tr, td {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    padding: 26px 0;
    background-color: rgba(163, 167, 255, 0.3);
    /* Стили для футера */
}

.footer-link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    /* Стили для футера */
}