* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

.container {
    max-width: 1140px;
}

.section-main-pre {
    align-items: center;
}

body {
    color: #303030;
    /* Стили для тела */
}

header {
    background-color: #2965f1;
    padding: 24px 150px;
    /* Стили для хедера */
}

header span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section-pre {
    display: flex;
    background-color: #fafaff;
    padding: 260px 150px;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    /* Стили для первой секции */
}

.wrapper {
    align-items: center;
}

.main-title-wrapper {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
    max-width: 425px;
}  
    /* Стили для заголовка в первой секции */


.main-text-wrapper {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    height: 508px;
    /* Стили для изображения в первой секции */
}

.about-section-wrapper {
    display: flex;  
    flex-direction: column;
    gap: 60px;
    background-color: #fff;
    padding: 100px 150px;
    /* Стили для второй секции */
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 0 12px;
    background-repeat: no-repeat;
    /* Стили для выпадающего списка */
}

.favourite-info {
    display: flex;
    justify-content: space-between;
    /* Стили для информации о любимых фреймворках и книгах */
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #303030;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    padding: 0 20px;
    list-style-image: url(./assets/img/solar_map-arrow-up-bold.svg?);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #303030;
    font-size: 16px;
    gap: 16px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding-left: 20px;
    gap: 20px;
    
    /* Стили для нумерованного списка во второй секции */
}

.skills-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Стили для третей секции */
}

.input-skills {
    margin-bottom: 40px;
}

.checkbox-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    gap: 4px;
    /* Стили для подписей чекбоксов */
}

input[type="checkbox"] {
    accent-color: #2965f1;
}

.text-field {
    width: 330px;
    height: 36px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding: 0 12px;
    font-size: 16px;
    &::placeholder {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: rgba(48, 48, 48, 0.2);
    }
    /* Стили для односточного поля ввода те
    кста */
}

.btn {
    margin-left: 8px;
    width: 125px;
    height: 36px;
    border-radius: 5px;
    background-color: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
    /* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    /* Стили для линии */
}



table {
    border-collapse: collapse;
    border: 1px solid #95a1bb;
    font-size: 14px;
    margin: 0 420px 0 420px;
    /* Стили для таблицы */
}

tr, th {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #303030;
    padding: 12px 15px;
}

tr, td {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 26px 0;
    background-color: rgba(163, 167, 255, 0.3);
    /* Стили для футера */
}

.footer-link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-align: center;
    /* Стили для футера */
}
